header {
    width: 100%;
    height: 100px;
    z-index: 1000;
    background-color: #242322;
    position: fixed;
}
.logo{
    -webkit-user-select: none;
    z-index: 900;
    font-family: 'Lobster', cursive;
    font-size: 45px;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
    padding-left: 27px;
    color: white;
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
.headerLink {
    -webkit-user-select: none;
    z-index: 900;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: white; 
    text-shadow:  black 1px 1px 4px;
    -webkit-transition: all 0.3s ease;;
              
}
.headerLink:hover{
    font-size: 42px;
    color: #77fbfbe8;
}
.linkBox {
    display: table-cell;
    vertical-align:middle; 
    text-align:center;
    height: 100px;
    width: 250px;
    background-color: #242322;
    margin-left: 50%;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.linkBox:hover{
    background-color: rgb(46, 46, 46);
}
.banner{
    z-index: 500;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
    box-shadow: 0px 10px 30px #464646;
}
.bannerDiv{
    position: absolute;
    width: 40%;
    top: 200px;
    left: 100px;
    z-index: 501;
    transition: top 750ms;
    animation-iteration-count: 1;
}
.bannerText{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 55px;
    transition: top 750ms;
    animation-iteration-count: 1;
    -webkit-user-select: none;
    
}
.main{
    padding-top: 50px;
    display: grid;
    grid-template-areas:
        "empty1 article empty2"
        "footer footer footer";
    grid-template-columns: 7% 1fr 7%;
    grid-template-rows: 1fr 100px;
}
.footerGrid{
    grid-area: footer;
}
footer{
    background-color: #242322;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    box-shadow: 0 -10px 10px rgb(219, 208, 208);
}
.article {
    grid-area: article;
}
.subGrid{
    display: grid;
    grid-template-areas:
        "header header header"
        "meal1 meal2 meal3";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px, minmax(300px, 600px);
    grid-gap: 20px;

}
.header{
    grid-area: header;
    -webkit-user-select: none;
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    text-align: center;
    background-color: white;
    padding: 20px;
}
.meal1{
    grid-area: meal1;
}
.meal2{
    grid-area: meal2;
}
.meal3{
    grid-area: meal3;
}
.meal1, .meal2, .meal3{
    z-index:800;
    -webkit-transition: transform 0.5s;
    margin-top: 20px;
    border: solid 3px #464646;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(135deg, #ebeb83 , rgb(249, 253, 208) );
}
.meal1:hover, .meal2:hover, .meal3:hover{
    transform: scale(1.1);
    z-index: 800;
    cursor: pointer;
}
.mealImg{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.mealHeader{
    font-family: 'Vollkorn', serif;
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
}
.description{
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    color: #2a3030e8;
    border: solid 2px #aaaaaa;
    border-radius: 7px;
    padding: 10px;
    background: linear-gradient(135deg, #d1d1d1, #878787);
}
.wrapper{
    margin: 10px; 
    width: 22,9vw;
    height: auto;
}

footer > p{
    padding-top: 25px;
    text-align: center;
    color: white;  
}
.bot{
    padding-bottom: 20px;
    padding-top: calc(300px/2 - 1em);
}
.empty1{
    z-index:500;
    grid-area: empty1;
    background-image:   linear-gradient(180deg, white 1px, #00000000),linear-gradient(90deg, #00000000, #ffffff),url(./images/background.jpg);
                        
    opacity: 0.5;
    background-repeat: y;
}
.empty2{
    z-index:500;
    grid-area: empty2;
    background-image: linear-gradient(180deg, white 1px, #00000000), linear-gradient(270deg, #00000000, #ffffff), url(./images/background.jpg);
    opacity: 0.5;
    background-repeat: y;
}